{% extends "main.html" %}

{% block extrahead %}
<!-- CSS only -->
<link rel="stylesheet" href="assets/css/ruokarahina.css">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}
  <div id="app">
  <section class="container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero grid">
  
        <!-- Hero content -->
        <div class="mdx-hero__content column">
            <h1>Ruokarähinä alkakoon!</h1>
            <p>Tomaatti, kurkku ja sitruuna ovat kamppailleet mestaruudesta jo pitkään ja pysyneet kärkikolmikossa viime vuodet. Viimeinkin pääsemme kurkistamaan kisameininkeihin ja katsomaan, löytyykö heille haastajia...</p>
   
            <p>ps. Käytä yläpalkin hakutoimintoa tutkiaksesi sopivia kilpailijoita 🧐</p>
            <a
                class="md-button md-button--primary" href="#taistelukentta"
            >
                Siirry taistelukentälle
            </a>
            </div>
  
        <!-- Hero image -->
        <div class="mdx-hero__image column">
          <img
            src="http://127.0.0.1:8000/assets/ruokarahina.png"
            alt=""
            width="1659"
            height="1200"
            draggable="false"
          >
        </div>
      </div>
    </div>
  </section>

  <section style="padding-top: 0" class="container padding-vertical-small">
    <div class="md-grid md-typeset">
      <h2 id="taistelukentta">Valitse kilpailijat</h2>
      <div class="mdx-hero grid">

        <div class="mdx-hero__content column">
            <label for="selectedFighterOne">Valitse ensimmäinen kilpailija:</label>
            <select v-model="selectedFighterOne" id="selectedFighterOne">
              <option :value="item" v-for="item in veggieOptions">
                [[ item ]]
              </option>
            </select>

            <div class="fight-defend">
              [[ returnFighterOne ]]
            </div>
           
            </div>
  

            <div class="mdx-hero__content column">
              <label for="selectedFighterTwo">Valitse toinen kilpailija:</label>
              <select v-model="selectedFighterTwo" id="selectedFighterTwo">
                <option :value="item" v-for="item in veggieOptions">
                  [[ item ]]
                </option>
              </select>
              <div class="fight-defend">
                [[ returnFighterTwo ]]
              </div>

              </div>
        </div>
    </div>
  </section>

  <hr>

  <section style="padding-top:0" class="container padding-vertical-small">
    <div class="md-grid md-typeset">
      <h3>FIGHT</h3>
      <button @click="startFight"
      class="md-button md-button--primary"
  >
      Aloita kilpailu
    </button>
    </div>
  </section>

  <section class="container padding-vertical-small">
    <div class="victory" v-if="winner !== null">
      🎉 [[ this.winner ]] <strong> on voitokas!</strong>
    </div>
      <div class="fight" v-for="item in fight">
        <p><span>[[ item.attacker ]] <strong>hyökkäsi </strong> </span><span> [[ item.attack ]] <strong>voimalla </strong> </span> [[ item.defender ]] kimppuun.</p>
        <p class="fight-defend">Energiaa jäi hyökkäyksen jälkeen jäljelle [[ item.hp ]]</p>
      </div>
      <div class="victory" v-if="winner !== null">
        🎉 [[ this.winner ]] <strong> on voitokas!</strong>
      </div>
  </section>

  <section>

</section>

 </div>

  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          veggieSoldiers: null,
          veggieOptions: null,
          selectedFighterOne: null,
          selectedFighterTwo: null,
          clonedFighterOne: null,
          clonedFighterTwo: null,
          fighterOnePolling: null,
          fighterTwoPolling: null,
          fight: [],
          winner: null,

        }
      },
      delimiters: ['[[', ']]'],

    computed: {
      // a computed getter
      returnFighterOne() {
        return this.selectedFighterOne === null ? 'Kilpailijaa ei ole valittu' : 'Valittu kilpailija: ' + this.veggieSoldiers[this.selectedFighterOne]['title']
      },
      returnFighterTwo() {
        return this.selectedFighterTwo === null ? 'Kilpailijaa ei ole valittu' : 'Valittu kilpailija; ' + this.veggieSoldiers[this.selectedFighterTwo]['title']
      }
    },

    methods: {
    attackFighterOne:function () {
      this.clonedFighterTwo['kestopisteet']  = this.clonedFighterTwo['kestopisteet'] + this.clonedFighterTwo['puolustusvoima'] - this.clonedFighterOne['hyökkäysvoima']
      this.fight.push({"attacker":this.clonedFighterOne['title'], "defender":this.clonedFighterTwo['title'], 'attack': this.clonedFighterOne['hyökkäysvoima'], 'hp': this.clonedFighterTwo['kestopisteet']})

      if (this.clonedFighterTwo['kestopisteet'] < 0){
        clearInterval(this.fighterOnePolling);
        clearInterval(this.fighterTwoPolling);
        console.log(this.clonedFighterOne['title'] + ' voitti kilpailun!')
        this.winner = this.clonedFighterOne['title']
      }
    },

    attackFighterTwo:function () {
      this.clonedFighterOne['kestopisteet']  = this.clonedFighterOne['kestopisteet'] + this.clonedFighterOne['puolustusvoima'] - this.clonedFighterTwo['hyökkäysvoima']
      this.fight.push({"attacker":this.clonedFighterTwo['title'], "defender":this.clonedFighterOne['title'], 'attack': this.clonedFighterTwo['hyökkäysvoima'], 'hp': this.clonedFighterOne['kestopisteet']})

      if (this.clonedFighterOne['kestopisteet'] < 0){
        clearInterval(this.fighterTwoPolling);
        clearInterval(this.fighterOnePolling);
        console.log(this.clonedFighterTwo['title'] + ' voitti kilpailun!')
        this.winner = this.clonedFighterTwo['title']
      }
},

    startFight: function () {
      if (selectedFighterOne === null || this.selectedFighterTwo === null){
        alert("Valitse kilpailijat aloittaaksesi.")
      }

      else{
        this.fight = []
        this.winner = null
        this.clonedFighterOne = {...this.veggieSoldiers[this.selectedFighterOne]}
        this.clonedFighterOne['kestopisteet'] = parseFloat(this.clonedFighterOne['kestopisteet'])
        this.clonedFighterOne['puolustusvoima'] = parseFloat(this.clonedFighterOne['puolustusvoima'])
        this.clonedFighterOne['hyökkäysvoima'] = parseFloat(this.clonedFighterOne['hyökkäysvoima'])
        this.clonedFighterOne['hitaus'] = parseFloat(this.clonedFighterOne['hitaus'])


        this.clonedFighterTwo = {...this.veggieSoldiers[this.selectedFighterTwo]}
        this.clonedFighterTwo['kestopisteet'] = parseFloat(this.clonedFighterTwo['kestopisteet'])
        this.clonedFighterTwo['puolustusvoima'] = parseFloat(this.clonedFighterTwo['puolustusvoima'])
        this.clonedFighterTwo['hyökkäysvoima'] = parseFloat(this.clonedFighterTwo['hyökkäysvoima'])
        this.clonedFighterTwo['hitaus'] = parseFloat(this.clonedFighterTwo['hitaus'])

        this.fighterOneInterval()
        this.fighterTwoInterval()
      }
    },

    fighterOneInterval () {
        this.fighterOnePolling = setInterval(() => {
            this.attackFighterOne()
        }, this.clonedFighterOne['hitaus'])
    },

    fighterTwoInterval () {
        this.fighterTwoPolling = setInterval(() => {
            this.attackFighterTwo()
        }, this.clonedFighterTwo['hitaus'])
    }
  },

      mounted () {
        axios
        .get('/assets/json/search_index_parsed.json')
        .then(response => (
          this.veggieSoldiers = response.data,
          console.log(this.veggieSoldiers),
          console.log(Object.keys(this.veggieSoldiers)),
          this.veggieOptions = Object.keys(this.veggieSoldiers)
          ))
    }



    }).mount('#app')
  </script>

{% endblock %}

<!-- Content -->
{% block content %}
{{ super() }}

{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}
